.registration {
  padding: 50px 20px 70px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;

  @include viewport--md {
    padding: 70px 40px;
  }

  @include viewport--lg {
    display: grid;
    grid-template-columns: 120px min-content min-content;
    justify-content: center;
  }
}

.registration__link-back {
  margin-bottom: 40px;
  align-self: flex-start;

  @include viewport--lg {
    margin: 0;
    margin-right: 80px;
    align-self: center;
  }
}

.registration__link-registration {
  font-size: 48px;
  line-height: 48px;
  font-family: $font-aire;
  color: $color-white;
  align-self: flex-start;

  @include viewport--lg {
    align-self: center;
    margin-right: 40px;
  }
}

.registration__link-log-in {
  font-size: 48px;
  line-height: 48px;
  font-family: $font-aire;
  color: $color-gray;
  text-decoration: none;
  margin-bottom: 50px;
  align-self: flex-start;

  &:hover {
    color: $color-blue;
    transition: 0.1s;
  }

  &:active {
    color: $color-white;
    transition: 0.1s;
  }

  @include viewport--lg {
    align-self: center;
    margin-bottom: 0;
  }
}

.registration__form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 60px;

  @include viewport--lg {
    grid-column: span 3;
  }
}

.registration__input-email {
  margin-bottom: 15px;

  &:hover {
    opacity: 0.8;
  }

  &:focus-visible {
    outline: $color-blue 3px solid;
  }

  @include viewport--lg {
    margin-top: 30px;
  }
}

.registration__input-password {
  margin-bottom: 40px;

  &:hover {
    opacity: 0.8;
  }

  &:focus-visible {
    outline: $color-blue 3px solid;
  }

  @include viewport--md {
    margin-bottom: 70px;
  }
}

.registration__button-submit {
  background-color: $color-white;
  color: $color-black;
  font-family: $font-aire;
  font-size: 24px;
  line-height: 24px;
  font-weight: 400;
  border: none;
  width: 230px;
  height: 61px;
  position: relative;
  margin-bottom: 30px;
  margin-left: -20px;

  &:hover {
    color: $color-blue;
  }

  &:active {
    color: $color-gray;
  }

  &::after {
    content: "";
    background-color: transparent;
    width: 21px;
    height: 61px;
    display: block;
    position: absolute;
    top: 0;
    left: 100%;
    border-left: 21px solid #ffffff;
    border-top: 24px solid transparent;
  }

  @include viewport--md {
    margin-bottom: 50px;
  }
}

.registration__input-rules-custom {
  display: block;
  width: 24px;
  height: 24px;
  background-color: $color-white;
  margin-right: 15px;

  @include viewport--md {
    width: 30px;
    height: 30px;
    margin-right: 30px;
  }
}

.registration__label-rules {
  display: flex;
  align-items: flex-start;
}

.registration__text-rules {
  max-width: 220px;
  font-size: 12px;
  line-height: 14px;
  text-decoration: none;
  color: $color-gray;
  margin: 0;
  flex-shrink: 2;

  &:hover {
    color: $color-blue;
    transition: 0.1s;
  }

  &:active {
    color: $color-white;
    transition: 0.1s;
  }

  @include viewport--md {
    font-size: 17px;
    line-height: 15px;
    max-width: 300px;
  }

  @include viewport--lg {
    max-width: 382px;
  }
}

.registration__text-log-in {
  margin-bottom: 20px;
  font-size: 12px;
  line-height: 14px;

  @include viewport--lg {
    grid-column: span 3;
    justify-self: center;
    position: relative;

    &::before {
      content: "";
      display: inline-block;
      width: 170px;
      height: 1px;
      background-color: $color-gray;
      position: absolute;
      left: 10px;
    }
  }
}

.registration__list-log-in-social {
  list-style: none;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  column-gap: 20px;
  padding: 0;
  margin: 0;
  max-width: 210px;

  @include viewport--lg {
    grid-column: span 3;
    justify-self: center;
  }
}
