.social {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  position: relative;
  margin-bottom: 55px;

  &::after {
    content: "";
    width: 300px;
    height: 1px;
    background-color: $color-white;
    display: block;
    position: absolute;
    bottom: -33px;
    left: 50%;
    transform: translateX(-50%);
  }

  @include viewport--lg {
    display: none;
  }
}

.social__item:not(:last-child) {
  margin-right: 15px;
}
