.title-partition {
  color: $color-light-blue;
  font-size: 16px;
  line-height: 28px;
  font-weight: 300;
  position: relative;
  margin: 0;

  &::before {
    content: "";
    height: 1px;
    background-color: $color-light-blue;
    display: inline-block;
    position: relative;
    width: 25px;
    right: 15px;
    top: -5px;

    @include viewport--md {
      width: 50px;
      right: 34px;
    }
  }
}
