@font-face {
  font-family: "Aire Exterior";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/aire-exterior-regular.woff2") format("woff2");
  font-display: swap;
}
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/roboto-regular.woff2") format("woff2");
  font-display: swap;
}
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/roboto-bold.woff2") format("woff2");
  font-display: swap;
}
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/roboto-medium.woff2") format("woff2");
  font-display: swap;
}
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 300;
  src: url("../fonts/roboto-light.woff2") format("woff2");
  font-display: swap;
}
html {
  height: 100%;
  box-sizing: border-box;
}

*,
::before,
::after {
  box-sizing: inherit;
}

body {
  font-family: "Roboto", "Arial", sans-serif;
  color: #ABABAB;
  font-weight: 300;
  font-size: 21.33px;
  line-height: 32px;
  background-color: #141C24;
  margin: 0;
  padding: 0;
}

img {
  display: block;
  height: auto;
  max-width: 100%;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  width: 100%;
  max-width: 767px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}
@media (min-width: 768px) {
  .container {
    width: 100%;
    max-width: 1149px;
    margin: 0 auto;
    padding-left: 50px;
    padding-right: 50px;
  }
}
@media (min-width: 1150px) {
  .container {
    width: 100%;
    max-width: 1150px;
    margin: 0 auto;
    padding-left: 110px;
    padding-right: 110px;
  }
}

.title-partition {
  color: #57D6FF;
  font-size: 16px;
  line-height: 28px;
  font-weight: 300;
  position: relative;
  margin: 0;
}
.title-partition::before {
  content: "";
  width: 50px;
  height: 1px;
  background-color: #57D6FF;
  display: inline-block;
  position: relative;
  right: 34px;
  top: -5px;
}

.navigation {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media (min-width: 768px) {
  .navigation {
    flex-direction: row;
    flex-wrap: wrap;
  }
}

.navigation__link {
  font-size: 16px;
  line-height: 28px;
  font-weight: 400;
  color: #ffffff;
  padding: 10px 10px;
  display: block;
  text-decoration: none;
  position: relative;
}

.navigation__item:not(:last-child) {
  margin-bottom: 11px;
}
@media (min-width: 768px) {
  .navigation__item:not(:last-child) {
    margin-right: 26px;
  }
}

.navigation__link--current::after {
  content: "";
  width: 300px;
  height: 1px;
  background-color: #00C5FF;
  display: block;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}
@media (min-width: 768px) {
  .navigation__link--current::after {
    content: "";
    width: 100%;
    height: 1px;
    background-color: #00C5FF;
    display: block;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
  }
}

.social {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  position: relative;
  margin-bottom: 55px;
}
.social::after {
  content: "";
  width: 300px;
  height: 1px;
  background-color: #ffffff;
  display: block;
  position: absolute;
  bottom: -33px;
  left: 50%;
  transform: translateX(-50%);
}
@media (min-width: 768px) {
  .social {
    display: none;
  }
}

.social__item:not(:last-child) {
  margin-right: 15px;
}

.subtitle-partition {
  font-family: "Aire Exterior", "Arial", sans-serif;
  font-size: 39px;
  line-height: 39px;
  font-weight: 400;
  color: #ffffff;
}

.rate-card {
  padding-top: 76px;
  padding-left: 32px;
  padding-bottom: 50px;
  background-color: #1F2631;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
}
.rate-card--beneficial {
  background-color: #00C5FF;
  color: #171717;
}

.rate-card:not(:last-child) {
  margin-bottom: 34px;
}

.rate-card__title {
  margin: 0;
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  color: #ffffff;
  margin-bottom: 19px;
}
.rate-card__title--beneficial {
  color: #171717;
}

.rate-card__list,
.rate-card__list-inner {
  padding: 0;
  list-style: none;
}

.rate-card__list {
  margin-bottom: 66px;
}

.rate-card__price {
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  margin-bottom: 28px;
  display: block;
}

.rate-card__description {
  margin: 0;
}

.rate-card__button-choose {
  width: 282px;
  height: 62px;
  border: none;
  background-color: #00C5FF;
  font-family: "Aire Exterior", "Arial", sans-serif;
  color: #141C24;
  font-weight: 400;
  font-size: 24px;
  line-height: 43px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  border-radius: 5px;
  margin-left: -8px;
  margin-top: auto;
}
.rate-card__button-choose--beneficial {
  background-color: #171717;
  color: #ffffff;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 30px;
}
@media (min-width: 768px) {
  .header {
    background-color: #141C24;
    position: fixed;
    width: 100%;
    z-index: 555;
    padding: 0;
  }
}

.header__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 41px;
  padding-left: 38px;
  padding-right: 38px;
  padding-bottom: 30px;
}
@media (min-width: 768px) {
  .header__container {
    flex-direction: row;
    padding-top: 37px;
    padding-left: 100px;
    padding-right: 100px;
    padding-bottom: 38px;
    max-width: 1250px;
    margin: 0 auto;
  }
}

.header__navigation {
  width: 100%;
  margin-bottom: 106px;
}
@media (min-width: 768px) {
  .header__navigation {
    margin: 0;
  }
}

.header__logo-link {
  margin-bottom: 90px;
}
@media (min-width: 768px) {
  .header__logo-link {
    margin: 0;
    margin-right: 106px;
  }
}

@media (min-width: 768px) {
  .header__logo-mobile {
    display: none;
  }
}

.header__logo-desktop {
  display: none;
}
@media (min-width: 768px) {
  .header__logo-desktop {
    display: block;
  }
}

.header__list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.haeder__back-menu {
  background-color: transparent;
  border: none;
}
@media (min-width: 768px) {
  .haeder__back-menu {
    display: none;
  }
}

.intro__card {
  background-image: url("../img/intro-background-mobile.png");
  background-size: cover;
  background-position: top center;
  background-repeat: no-repeat;
  padding-top: 41px;
  padding-left: 38px;
  padding-right: 38px;
  padding-bottom: 94px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 0px 0px 15px 15px;
}
@media (min-width: 768px) {
  .intro__card {
    background-image: url("../img/intro-background-desktop.png");
    background-size: 1444px 850px;
    background-position: top center;
    background-repeat: no-repeat;
    padding-top: 413px;
    padding-bottom: 224px;
    max-width: 1327px;
    margin: 0 auto;
  }
}

.intro__logo-link {
  margin-bottom: 202px;
}
@media (min-width: 768px) {
  .intro__logo-link {
    display: none;
  }
}

.intro__text {
  font-size: 16px;
  line-height: 19px;
  font-weight: 500;
  color: #ffffff;
  max-width: 142px;
  margin: 0;
  margin-bottom: 11px;
  align-self: start;
}
@media (min-width: 768px) {
  .intro__text {
    align-self: center;
    max-width: 220px;
    margin-bottom: 1px;
  }
}

.intro__slogan {
  font-size: 48px;
  line-height: 48px;
  font-family: "Aire Exterior", "Arial", sans-serif;
  font-weight: 400;
  color: #ffffff;
  margin: 0;
  margin-bottom: 137px;
}
@media (min-width: 768px) {
  .intro__slogan {
    margin-bottom: 96px;
  }
}

.intro__upgrade {
  background-color: #ffffff;
  color: #171717;
  font-family: "Aire Exterior", "Arial", sans-serif;
  font-size: 24px;
  line-height: 24px;
  font-weight: 400;
  border: none;
  width: 230px;
  height: 61px;
  text-transform: uppercase;
  padding: 0;
  position: relative;
  padding-left: 21px;
  margin-right: 20px;
}
.intro__upgrade::after {
  content: "";
  background-color: transparent;
  width: 21px;
  height: 61px;
  display: block;
  position: absolute;
  top: 0;
  left: 100%;
  border-left: 21px solid #FFFFFF;
  border-top: 24px solid transparent;
}
@media (min-width: 768px) {
  .intro__upgrade {
    margin-right: 22px;
  }
}

.manual {
  padding-top: 75px;
  padding-bottom: 110px;
}

.manual__card-description {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(5, min-content);
  justify-items: start;
  padding-bottom: 118px;
}

.manual__title-card-description {
  margin-right: -33px;
  margin-bottom: 17px;
  justify-self: center;
}

.manual__subtitle-card-description {
  justify-self: start;
  margin-bottom: 61px;
}

.manual__description-card {
  margin: 0;
  max-width: 310px;
  margin-bottom: 112px;
}

.manual__img-card-description {
  margin-bottom: 30px;
}

.manual__description-characteristic {
  margin: 0;
  max-width: 319px;
  margin-bottom: 81px;
}

.manual__download-module {
  font-family: "Roboto", "Arial", sans-serif;
  font-size: 16px;
  line-height: 18.75px;
  font-weight: 500;
  color: #00C5FF;
  text-decoration: none;
  justify-self: center;
  padding: 5px 3px;
  border-bottom: 1px solid #00C5FF;
}

.manual__card {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(4, min-content);
  justify-items: center;
}

.manual__title {
  margin-right: -33px;
  margin-bottom: 16px;
}

.manual__subtitle {
  grid-column: 1/-1;
  grid-row: 2/3;
  margin-bottom: 90px;
}

.manual__list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: start;
  column-gap: 65px;
  row-gap: 53px;
  list-style: none;
  font-size: 21px;
  line-height: 32px;
  padding: 0;
  margin: 0;
  margin-bottom: 50px;
}

.manual__item {
  padding-top: 58px;
  text-align: center;
  max-width: 130px;
}
.manual__item--account {
  background-image: url("../img/icons/icon-mail.png");
  background-size: 51px 50px;
  background-position: top center;
  background-repeat: no-repeat;
  position: relative;
}
.manual__item--account::after {
  content: "";
  width: 58px;
  height: 1px;
  display: inline-block;
  background-color: #57D6FF;
  position: absolute;
  right: -58px;
  top: 24px;
}
.manual__item--download {
  background-image: url("../img/icons/icon-download.png");
  background-size: 51px 50px;
  background-position: top center;
  background-repeat: no-repeat;
  position: relative;
}
.manual__item--download::before {
  content: "";
  width: 162px;
  height: 1px;
  background-color: #57D6FF;
  position: absolute;
  transform: rotate(135deg);
  left: -120px;
  bottom: 16px;
}
.manual__item--rate {
  background-image: url("../img/icons/icon-joystick.png");
  background-size: 56px 56px;
  background-position: top center;
  background-repeat: no-repeat;
  padding-top: 67px;
}
.manual__item--game {
  background-image: url("../img/icons/icon-arcade.png");
  background-size: 57px 57px;
  background-position: top center;
  background-repeat: no-repeat;
  padding-top: 66px;
  position: relative;
}
.manual__item--game::before {
  content: "";
  width: 65px;
  height: 1px;
  display: inline-block;
  background-color: #57D6FF;
  position: absolute;
  left: -59px;
  top: 27px;
}

.manual__link {
  font-family: "Roboto", "Arial", sans-serif;
  font-size: 16px;
  line-height: 18.75px;
  font-weight: 500;
  color: #00C5FF;
  text-decoration: none;
  justify-self: center;
  padding: 5px 7px;
  border-bottom: 1px solid #00C5FF;
}

.rate__container {
  display: flex;
  flex-direction: column;
}

.rate__title {
  align-self: center;
  padding-left: 28px;
  margin-bottom: 15px;
}

.rate__subtitle {
  margin-bottom: 58px;
}

.rate__list {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
}
/*# sourceMappingURL=style.css.map */