html {
  height: 100%;
  box-sizing: border-box;
}

main {
  overflow: hidden;
}

*,
::before,
::after {
  box-sizing: inherit;
}

body {
  font-family: $font-roboto;
  color: $color-gray;
  font-weight: 300;
  font-size: 21.33px;
  line-height: 32px;
  background-color: $color-background;
  margin: 0;
  padding: 0;
}

body.lock {
  overflow: hidden;
}

img {
  display: block;
  height: 100%;
  width: 100%;
}

.input-hidden {
  position: absolute;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.section-wrapper {
  position: relative;
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 15px;

  @include viewport--md {
    padding: 0 25px;
  }

  @include viewport--lg {
    &::after {
      content: "";
      width: 1px;
      background-color: rgba(255,255,255,.15);
      display: block;
      position: absolute;
      top: 5%;
      bottom: 0;
      left: -30px;
    }
  }
}

.subtitle-partition {
  @include viewport--lg {
    transform: scale(0);
    text-transform: $trans;
  }
}

.activated-container .subtitle-partition {
  @include viewport--lg {
    transform: scale(1);
    transition: $trans;
  }
}

.manual__description-card, .manual__description-characteristic, .advantages__description {
  @include viewport--lg {
    transform: translateX(100%);
    transition: 0.5s;
  }
}

.manual__description-characteristic {
  @include viewport--lg {
    transition: 0.7s;
  }
}

.activated-container .manual__description-card, .activated-container .manual__description-characteristic, .activated-container .advantages__description {
  @include viewport--lg {
    transform: translateX(0);
  }
}


