$font-aire: "Aire Exterior", "Arial", sans-serif;
$font-roboto: "Roboto", "Arial", sans-serif;

$color-background: #141C24; 
$color-blue: #00C5FF;
$color-white: #ffffff;
$color-light-blue:#57D6FF;
$color-black: #171717;
$color-gray:  #ABABAB;
$color-dark-gray: #1F2631;

$md: 768px;
$lg: 1150px;
$sm-max: 767px;
$md-max: 1149px;
$lg-max: 1150px;
$padding--sm: 15px;
$padding--md: 50px;
$padding--lg: 110px;